<!doctype html>
<title>Hotel Price Checker</title>
<h1>Check hotel prices :D</h1>

<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

li {
  width: 50px;
  margin: 20px;
}

ul li {
    display:inline-block; 
    float:left;
}

.heading {
    font-weight: bold;
}

.image {
    width: 400px;
    overflow:auto;
}

</style>
<ul class="heading">
    <li>Hotel id</li>
    <li>Hotel Name</li>
    <li>Number of reviews</li>
    <li>Address</li>
    <li>Number of Stars</li>
    <li>Amenities</li>
    <li class="image">Image</li>
    <li>Snap Travel Price</li>
    <li>Hotel.com Price</li>
</ul>
<hr>
{% for row in data %}
<ul>
    <li>{{ row.id }}</li>
    <li>{{ row.hotel_name }}</li>
    <li>{{ row.num_reviews }}</li>
    <li>{{ row.address }}</li>
    <li>{{ row.num_stars }}</li>
    <li>
        {% for amenity in row.amenities %}
            {{ amenity }}
        {% endfor %}
    </li>
    <li class="image"><img src={{row.image_url}}></li>
    <li>{{ row.price_snap }}</li>
    <li>{{ row.price_retail }}</li>
</ul>
{% endfor %}